This is the home page for Team <%= @team.name %>!
<br>
Basic Info:
ID: <%= @team.id %>
<br>
Branch: <%= @team.branch %>
<br>
Goal: <%= @team.goal %>

<ul>
  <% @team.users.each do |tm| %>   
    <li><%= tm.first_name %></li>
  <% end %>
</ul>


