<%= render "./users/tabs" %>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 team-card team-info-container third">
      <p id="team-name"><%= @team.name %></p>
      <p><%= @team.branch %></p>
      <p><%= @team.start_location %></p>
      <p><%= @team.end_location %></p>
      <p>Team Goal: <%= @team.goal %> miles</p>
      <p>Timeframe: <%= @team.months %> months</p>
    </div>
    <div class="col-xs-12 col-md-8 team-card" id="total-of-team">
      <div class="chart-container">
        <div id="team-chart-wrapper"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 team-card third" id="teammate-div">
      <ul id="teammate-info"> 
        <h3>Teammates</h3>
        <% @team.users.each do |tm| %>   
          <li id="teammate-name"><%= tm.first_name %>:  <span id="teammate-total"><%= tm.logs.sum(:mileage) %></span> miles</li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-6 col-md-4 team-card third" id="mileage-count">
      <h3>Total Team Mileage: </h3>
        <div id="total">
        </div>
        <div id="hide-goal">Goal: <div id="goal"><%= @team.goal %></div></div>
        <br>
        <h3>Miles to go: </h3>
        <span class="difference"></span>
    </div>
    <div class="col-xs-6 col-md-4 team-card third" id="countdown">
      <div class="chart-container">
        <div id="miles-to-goal-container">
        </div>
      </div>
    </div>
  </div>
</div>  

<script>
var sum = 0;
var difference;
var goal;
$('span').each(function() {
  sum += +$(this).text()||0;
});
goal = $('#goal').text();
difference = goal - sum;
$('#total').text(sum);
$('.difference').text(difference);
var teamName = $('#team-name').text();
console.log(goal);
// Highcharts
$(function () {
    Highcharts.chart('team-chart-wrapper', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Total Team Mileage'
        },
        xAxis: {
            categories: null
        },
        yAxis: {
          min: null,
          max: goal,
            title: {
                text: 'Miles'
            }
        },
        legend: {
            reversed: false,
            align: 'center',
            floating: false
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [
            <% @team.users.each do |tm|%>
          {
            name: '<%= tm.first_name%>',
            data: [sum]
        },
        <% end %>]
    });
});

$(function () {

    $(document).ready(function () {

        // Build the chart

        Highcharts.chart('miles-to-goal-container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true,
                type: 'pie'
            },
            title: {
                text: 'Miles to Goal'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b><br>',
                valueSuffix: ' miles',
                shared: true
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Remaining Miles',
                colorByPoint: true,
                data: [{
                    name: 'Miles Down',
                    y: sum
                }, {
                    name: ['Miles To Go'],
                    y: difference 
                }]
            }]
        });
    });
});



$(function () {
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Monthly Average Rainfall'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rainfall (mm)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Tokyo',
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

        }, {
            name: 'New York',
            data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

        }, {
            name: 'London',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

        }, {
            name: 'Berlin',
            data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

        }]
    });
});
</script>