<%= render "./users/tabs" %>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 card team-info-container">
      <span id="team-name"><%= @team.name %></span>
    </div>
    <div class="col-xs-12 col-md-8 card">
      <div class="chart-container">
        <div id="team-chart-wrapper"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 card">
      <ul id="teammate-info">
        <h3>Teammates</h3>
        <% @team.users.each do |tm| %>   
          <li><span class="teammate-name"><%= tm.first_name %></span> <span id="teammate-total"><%= tm.logs.sum(:mileage) %></span></li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-6 col-md-4 card">
      <h2>Total Team Mileage: </h2>
        <div id="total">
        </div>
        Goal: <span id="goal"><%= @team.goal %></span>
        <br>
        Miles to go:
        <span class="difference"></span></div>
    <div class="col-xs-6 col-md-4 card">.col-xs-6 .col-md-4</div>
  </div>
</div>  

            <!-- HighCharts -->
 <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
var sum = 0;
var difference;
var goal;
$('span').each(function() {
    sum += +$(this).text()||0;
});
goal = $('#goal').text();
difference = goal - sum;
$('#total').text(sum);
$('.difference').text(difference);

// Highcharts
$(function () {
    Highcharts.chart('team-chart-wrapper', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Total Team Mileage'
        },
        xAxis: {
            categories: null
        },
        yAxis: {
            min: null,
            max: goal,
            title: {
                text: 'Miles'
            }
        },
        legend: {
            reversed: false,
            align: 'center',
            floating: false 
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series:[
            <% @team.users.each do |tm|%>
            {
                name:'<%= tm.first_name%>',
                data:[<%= tm.logs.sum(:mileage) %>]
            },
            <% end %>]
    });
});


$(function () {

    $(document).ready(function () {

        // Build the chart
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true,
                type: 'pie'
            },
            title: {
                text: 'Miles to Goal'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Remaining Miles',
                colorByPoint: true,
                data: [{
                    name: 'Miles Down',
                    y: ''
                }, {
                    name: ['Miles To Go'],
                    y: 0.2
                }]
            }]
        });
    });
});

</script>

