This is the home page for Team <span id="team-name"><%= @team.name %></span>!
<br>
Basic Info:
ID: <%= @team.id %>
<br>
Branch: <%= @team.branch %>
<br>
Goal: <div id="goal"><%= @team.goal %></div>
<br>
Miles to go:
<div class="difference"></div>
<br>
<div id="mileage-count">
	<h2>Total Team Mileage: </h2>
	<div id="total">
	</div>
</div>
<br>
<ul>
  <% @team.users.each do |tm| %>   
    <li id="teammate-name"><%= tm.first_name %> <span id="teammate-total"><%= tm.logs.sum(:mileage) %></span> miles</li>
  <% end %>
</ul>

<!-- HighCharts -->
<div id="container" style="width:100%; height:400px;"></div>

<script>
console.log("working!");

var sum = 0;
var difference;
var goal;
$('span').each(function() {
	sum += +$(this).text()||0;
});
goal = $('#goal');
difference = goal - sum;
$('#total').text(sum);
$('.difference').text(difference);

var teamName = $('#team-name').text();
console.log(goal);
// Highcharts
$(function () {
    Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Total Team Mileage'
        },
        xAxis: {
            categories: null
        },
        yAxis: {
        	min: 0,
        	max: 1500,
            title: {
                text: 'Miles'
            }
        },
        legend: {
            reversed: false
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: [teamName],
            data: [sum]
        }]
    });
});

</script>

