<%= render "./users/tabs" %>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 card team-info-container">
      <p id="team-name"><%= @team.name %></p>
      <p><%= @team.branch %></p>
      <p><%= @team.start_location %></p>
      <p><%= @team.end_location %></p>
      <p>Team Goal: <%= @team.goal %> miles</p>
      <p>Timeframe: <%= @team.months %> months</p>
    </div>
    <div class="col-xs-12 col-md-8 card">
      <div class="chart-container">
        <div id="team-chart-wrapper"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 card">
      <ul id="teammate-info">
        <h3>Teammates</h3>
        <% @team.users.each do |tm| %>   
          <li id="teammate-name"><%= tm.first_name %>:  <span id="teammate-total"><%= tm.logs.sum(:mileage) %></span> miles</li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-6 col-md-4 card" id="mileage-count">
      <h3>Total Team Mileage: </h3>
        <div id="total">
        </div>
        <div id="hide-goal">Goal: <div id="goal"><%= @team.goal %></div></div>
        <br>
        <h3>Miles to go: </h3>
        <span class="difference"></span>
    </div>
    <div class="col-xs-6 col-md-4 card">
      <div class="chart-container">
        <div id="miles-to-goal-container">
        </div>
      </div>
    </div>
  </div>
</div>  

<script>
console.log("working!");
var sum = 0;
var difference;
var goal;
$('span').each(function() {
  sum += +$(this).text()||0;
});
goal = $('#goal').text();
difference = goal - sum;
$('#total').text(sum);
$('.difference').text(difference);
var teamName = $('#team-name').text();
console.log(goal);
// Highcharts
$(function () {
    Highcharts.chart('team-chart-wrapper', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Total Team Mileage'
        },
        xAxis: {
            categories: null
        },
        yAxis: {
          min: null,
          max: goal,
            title: {
                text: 'Miles'
            }
        },
        legend: {
            reversed: false,
            align: 'center',
            floating: false
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [
            <% @team.users.each do |tm|%>
          {
            name: '<%= tm.first_name%>',
            data: [sum]
        },
        <% end %>]
    });
});
</script>