<%= render "./users/tabs" %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12 team-show">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <span id="team-name"><%= @team.name %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-8 col-xs-12 teammate-list">
            <ul id="teammate-info">
              <h3>Teammates</h3>
              <% @team.users.each do |tm| %>   
                <li><span class="teammate-name"><%= tm.first_name %></span> <span id="teammate-total"><%= tm.logs.sum(:mileage) %></span></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div clas="row">
          <div class="col-md-4 col-md-offset-4 col-xs-12">
            <h2>Total Team Mileage: </h2>
            <div id="total"></div>
            Goal: <span id="goal"><%= @team.goal %></span>
            <br>
            Miles to go:
            <span class="difference"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
            

            <!-- HighCharts -->
            <div id="team-chart-container" style="width:100%; height:400px;"></div>
        </div>
    </div>
</div>
<script>
var sum = 0;
var difference;
var goal;
$('span').each(function() {
    sum += +$(this).text()||0;
});
goal = $('#goal').text();
difference = goal - sum;
$('#total').text(sum);
$('.difference').text(difference);

// Highcharts
$(function () {
    Highcharts.chart('team-chart-container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Total Team Mileage'
        },
        xAxis: {
            categories: null
        },
        yAxis: {
            min: 0,
            max: goal,
            title: {
                text: 'Miles'
            }
        },
        legend: {
            reversed: false
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series:[
            <% @team.users.each do |tm|%>
            {
                name:'<%= tm.first_name%>',
                data:[<%= tm.logs.sum(:mileage) %>]
            },
            <% end %>]
    });
});

</script>

