This is the home page for Team <%= @team.name %>!
<br>
Basic Info:
ID: <%= @team.id %>
<br>
Branch: <%= @team.branch %>
<br>
Goal: <div id="goal"><%= @team.goal %></div>
<br>
Miles to go:
<div class="difference"></div>
<br>
<div id="mileage-count">
	<h2>Total Team Mileage: </h2>
	<div id="total">
	</div>
</div>
<br>
<ul>
  <% @team.users.each do |tm| %>   
    <li><%= tm.first_name %> <span><%= tm.logs.sum(:mileage) %></span> miles</li>
  <% end %>
</ul>

<script>
console.log("working!");

var sum = 0;
var difference;
var goal;
$('span').each(function() {
	sum += +$(this).text()||0;
});
goal = $('#goal');
difference = goal - sum;
$('#total').text(sum);
$('.difference').text(difference);

</script>


