<%= form_for :log, url: user_path, method: :post do |f| %>
  <div>
    <%= f.datetime_select :date, :order => [:day, :month, :year], :default => Date.today %>
  </div>
  <div>
    <%= f.number_field :mileage, placeholder: "Miles" %>
  </div>
  <div>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
  </div>
  <%= f.submit %>
<% end %>

