<%= render "./users/tabs" %>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-xs-12 log-show-container">
			<div class="weekday">
			<%= @log.created_at.strftime("%A %d %B, %Y") %>
			</div>
			<hr>
			<div class="miles-show">
				Miles: <%= @log.mileage %>
				<br>
				<div class="edit-delete-btns">
					<%= link_to "Edit", edit_log_path(@log) %>
					<%= button_to "Delete", @log, method: :delete, class: "btn delete-btn" %>
				</div>
			</div>
		<div>
	</div>
