<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4 col-xs-12">
      <%= form_for @user do |f| %>
        <div class="form-group">
          <input type="text" class="form-control"<%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
        <div class="form-group">
          <input type="text" class="form-control"<%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
        <div class="form-group">
          <input type="text" class="form-control"<%= f.text_field :username, placeholder: "Username" %>
        </div>
        <div class="form-group">
          <input type="password" class="form-control"<%= f.password_field :password, placeholder: "Password" %>
        </div>
        <div class="form-group">
          Choose branch of military:
          <select name="user[branch]" id="military-branch">
          <option value="Air Force">Air Force</option>
          <option value="Army">Army</option>
          <option value="Navy">Navy</option>
          <option value="Marines">Marines</option>
        </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control"<%= f.text_field :start_location, placeholder: "Home Base" %>
        </div>
        <div class="form-group">
          <input type="text" class="form-control"<%= f.text_field :end_location, placeholder: "Deployment Location" %>
        </div>
        <%= f.submit 'Sign Up' %>
      <% end %>
    </div>
  </div>
</div>