<div>
Welcome, <%= @user.first_name %>!
</div>
<div>
Your total mileage: <%= @user.logs.sum(:mileage) %> miles
</div>
	<%= link_to "See all teams", teams_path %>
	<br>
	<%= link_to "See my teams", user_teams_path(@user) %>
	<br>
	<%= link_to "See my logs", user_logs_path(@user) %>
	<br>
	<%= link_to "Add a new log", new_log_path(@user) %>