<%= render "tabs" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12 user-page" id="list-user-info">
      <p><%= @user.first_name %>'s total mileage: <span id="user-total"><%= @user.logs.sum(:mileage) %></span> miles</p>
      <p>Total today: <span id="user-daily"><%= @user.logs.where(date: Date.today).sum(:mileage) %></span> miles</p>
    </div>
  </div>
  <!-- HighCharts -->
  <div class="row">
    <div class="col-md-6 col-xs-8 user-chart" id="user-daily-container"></div>
    <div class="col-md-6 col-xs-4 user-chart" id="user-total-container"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12" id="new-log-mileage">
      <%= render :partial => 'logs/new', :object => @log %>
    </div>
  </div>
</div>

<script>

var userFirstName = $('#user-first-name').text();

var userDaily = 0;
var userTotal = 0;
$('#user-daily').each(function() {
  userDaily += +$(this).text()||0;
});
console.log(userTotal);

$('#user-total').each(function() {
	userTotal += +$(this).text()||0;
});
console.log(userTotal);

// Highcharts

$(function () {
    Highcharts.chart('user-daily-container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: "Today's Mileage"
        },
        xAxis: {
            categories: null
        },
        yAxis: {
          min: 0,
          max: userDaily + 2,
            title: {
                text: 'Miles'
            }
        },
        legend: {
            reversed: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                  enabled: true
                }
            }
        },
        series: [{
            name: [userFirstName],
            data: [userDaily]
        }]
    });
});


$(function () {
    Highcharts.chart('user-total-container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: "<%= @user.first_name %>'s Total Mileage"
        },
        xAxis: {
            categories: null
        },
        yAxis: {
        	min: 0,
        	max: userTotal + 5,
            title: {
                text: 'Miles'
            }
        },
        legend: {
            reversed: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                	enabled: true
                }
            }
        },
        series: [{
            name: [userFirstName],
            data: [userTotal]
        }]
    });
});

</script>
