<%= render "tabs" %>
<div class="container-fluid">
  <div class="row">
   <div class="col-md-10 offset-md-1 col-xs-12 user-page" id="user-show-home">
    <div>
    <%= @user.first_name %> total mileage: <span id="user-total"><%= @user.logs.sum(:mileage) %></span> miles
    </div>
    <div>
    <%= @user.logs.where(date: Date.today).sum(:mileage) %>
    </div>

    	<!-- HighCharts -->
    <div id="user-chart-container"></div>
    </div>

    <%= render :partial => 'logs/new', :object => @log %>
    </div>
  </div>
</div>

<script>

var userFirstName = $('#user-first-name').text();

var userTotal = 0;
$('#user-total').each(function() {
	userTotal += +$(this).text()||0;
});
console.log(userTotal);

// Highcharts
$(function () {
    Highcharts.chart('user-chart-container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: "<%= @user.first_name %>'s Total Mileage"
        },
        xAxis: {
            categories: null
        },
        yAxis: {
        	min: 0,
        	max: userTotal + 5,
            title: {
                text: 'Miles'
            }
        },
        legend: {
            reversed: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                	enabled: true
                }
            }
        },
        series: [{
            name: [userFirstName],
            data: [userTotal]
        }]
    });
});

</script>
