<!DOCTYPE html>
<html>
  <head>
    <title>WdiFinalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <span><li class="navbar-brand main-nav"><%= link_to "Miles", root_path %></li></span>
        </div>
        <div class="col-md-4 offset-md-4 col-xs-4 offset-xs-4" id="session-msg">
          <% flash.each do |name, msg| %>
            <p class=".navbar-text">
              <small><%= name.capitalize %>: <%= msg %></small>
            </p>
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Log Out", logout_path %></li> 
          <% else %>
          <li><%= link_to "Create Account", new_user_path %></li> 
          <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  
  </body>
</html>